<!DOCTYPE html>
<html>
<head>
    <%- include partials/header %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
</head>

<body>
<div id="main">
    <div id="title"></div>
    <div id="createGame">
    </div>
    <div id="games">
    </div>

    <div id="commands">
        <a href="/users/logout">Log out</a>
    </div>
</div>
</body>

</html>